@use "../../foundation/forward" as fwd;

/*----------------------------------------
  c-loading
----------------------------------------*/
.c-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--c_white);
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.c-loading.is-active {
  opacity: 1;
  visibility: visible;
}

.c-loading__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 272px;
  transform: translate(-50%, -50%);
}
