/*----------------------------------------
	font-weight
----------------------------------------*/
.u-fw-normal {font-weight: 400 !important;}
.u-fw-medium {font-weight: 500 !important;}
.u-fw-bold {font-weight: 700 !important;}
