@use "../../foundation/forward" as fwd;

/*----------------------------------------
	p-first-view
----------------------------------------*/
.p-first-view {
  --h_fv: 667px; /* FV高さ */
  --h_header: 71px; /* ヘッダー高さ */
  --c_text: #182848;
  position: relative;
  height: var(--h_fv);
}

.p-first-view__slider {
  position: relative;
  padding-top: var(--h_header);
  z-index: 1;
}

.p-first-view__slide {
  position: absolute;
  top: var(--h_header);
  width: 100%;
  height: calc(var(--h_fv) - var(--h_header));
}

.p-first-view__slide:nth-child(1) .p-first-view__img,
.p-first-view__slide:nth-child(2) .p-first-view__img {
  object-position: center;
}


.p-first-view__slide:nth-child(3) .p-first-view__img {
  object-position: top;
}

.p-first-view__img {
  height: 100%;
  object-fit: cover;
  object-position: right bottom;
}

.p-first-view__inner {
  display: flex;
  align-items: flex-end; /* Flexアイテムを下に寄せる */
  position: absolute;
  top: 0;
  right: 0; /* インナー中央寄せ */
  left: 0;  /* インナー中央寄せ */
  width: calc((335 / 375) * 100%);
  height: 100%;
  margin: 0 auto; /* インナー中央寄せ */
  padding-bottom: 26px;
  z-index: 2;
}

.p-first-view__content {
  width: 100%;
}

.p-first-view__title {
  color: var(--c_white);
  font-family: var(--ff_lato);
  font-size: fwd.make-clamp(48, 54, 375, 768);
  font-weight: 900;
  letter-spacing: 0.02em;
  line-height: calc(58 / 48);
  text-shadow: -4px 4px 4px var(--c_shadow);
  text-transform: uppercase;
}

.p-first-view__text-wrap {
  margin-top: 32px;
}

.p-first-view__text {
  position: relative;
  width: fit-content;
  margin-left: 0.6em;
  padding: 0.5em 1.2em;
  color: var(--c_text);
  font-size: fwd.make-clamp(20, 24, 375, 768);
  font-weight: 700;
  z-index: 1;
}

/* 平行四辺形 */
.p-first-view__text::after {
  content: '';
  transform: skewX(-30deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--c_white);
  z-index: -1;
}

/* 平行四辺形の影 */
.p-first-view__text::before {
  content: '';
  transform: skewX(-30deg) translate(3px, 3px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: currentColor;
  z-index: -2;
}

.p-first-view__text + .p-first-view__text {
  margin-top: 14px;
}

.p-first-view__news-bar {
  display: grid;
  grid-template-columns: 1fr; /* Gridアイテムをコンテナいっぱいに広げる */
  margin-top: 132px;
}


@media (min-width: 768px) {
  .p-first-view {
    --h_header: 96px; /* ヘッダー高さ */
  }

  .p-first-view__inner {
    padding-bottom: 16px;
  }

  .p-first-view__title-br {
    display: none;
  }

  .p-first-view__text-wrap {
    margin-top: 41px;
  }

  .p-first-view__news-bar {
    margin-top: 115px;
  }
}

@media (min-width: 992px) {
  .p-first-view {
    --h_fv: 768px; /* ヘッダー高さ */
  }

  .p-first-view__inner {
    width: calc((1016 / 1366) * 100%);
    max-width: 1016px;
  }

  .p-first-view__title {
    font-size: fwd.make-clamp(64, 96, 992, 1366);
  }

  .p-first-view__text {
    font-size: fwd.make-clamp(24, 32, 992, 1366);
  }
}
