:root {
  // カラー
  --c_accent: #1760a0;
  --c_base: #191919;
  --c_bg: #f0f0f0;
  --c_black: #000000;
  --c_btn: var(--c_accent);
  --c_shadow: rgba(24, 40, 72, 0.5);
  --c_white: #FFFFFF;
  --c_focus: var(--c_accent);
  --c_mask: rgba(0, 0, 0, 0.5);

  // フォント
  --ff_sans: "Noto Sans JP", sans-serif;
  --ff_lato: "Lato", sans-serif;

  // フォントサイズ
  --fz_10: calc((10 / 16) * 1rem);
  --fz_11: calc((11 / 16) * 1rem);
  --fz_12: calc((12 / 16) * 1rem);
  --fz_14: calc((14 / 16) * 1rem);
  --fz_16: calc((16 / 16) * 1rem);
  --fz_20: calc((20 / 16) * 1rem);
  --fz_24: calc((24 / 16) * 1rem);
  --fz_28: calc((28 / 16) * 1rem);
  --fz_32: calc((32 / 16) * 1rem);
  --fz_48: calc((48 / 16) * 1rem);
  --fz_56: calc((56 / 16) * 1rem);
}
